body {
  background-color: rgba(218, 165, 32, 0.263);
}


#header {
  display: flex;
  justify-content: center;
}

.enchilada {
  display: flex;
  justify-content: center;
  min-height: 700px;
  box-sizing: border-box;
  position: relative;
}

.face {
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: rgb(190, 190, 190);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 5px 5px gray;
}

.face::before {
  content: "";
  position: absolute;
  top: 150px;
  width: 125px;
  height: 60px;
  background-color: white;
  transition: 0.5s;
}

.face:hover::before {
  top: 150px;
  width: 115px;
  height: 70px;
  background-color: white;
  transition: 0.5s;
}

.eyes {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;

}

.eye {
  width: 60px;
  height: 60px;
  background-color: white;
  display: inline-block;
  margin: 20px;
  position: relative;
  overflow: hidden;
}

.eyeball {
  width: 25px;
  height: 25px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.robot-body {
  position: absolute;
  width: 700px;
  background-color: rgb(190, 190, 190);
  top: 40%;
  padding: 10px;
  font-size: large;
  color: black;
  box-shadow: 10px 5px 5px gray;
}

.no-top-margin {
  margin-top: 0;
}


#display-output {
  background-color: #0f204b;
  margin-top: 15px;

}

.p-results {
  margin: 0;
  padding: 10px;
  color: #00a6ff;
}